{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!{% endblock %}

{% block body %}
    <div class="container">
        <a href="/" class="btn btn-primary btn-lg" role="button">Go Back</a>
        <div class="mt-4" id="invoice-container">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('checkout') }}
{% endblock %}