{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello Admin! ✅</h1>

    <p>Welcome to My Book Store! Please select link from navigation</p>
</div>
{% endblock %}
